* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --primary-color-black: #152427;
    --secondary-color: #e2eddf;
    --text-color-gray: #7d8188;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    line-height: 57px;
    min-width: 173px;
    border-radius: 999px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.8;
}

.label {
    position: relative;
    margin-left: 46px;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.label::before {
    position: absolute;
    left: -46px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.heading-lv2 {
    position: relative;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.heading-lv2::after {
    position: absolute;
    bottom: 19px;
    right: 20%;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.heading-lv3 {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.path,
.flower {
    position: absolute;
}

/* Header */
.header {
    font-family: "Public Sans";
    padding: 28px 0 13px;
}

.header.fixed {
    position: sticky;
    z-index: 1;
    top: -20px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );

    bottom: 0;
    left: 0;
}

.navbar {
    margin-left: 387px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    padding: 8px 19px;
}

.navbar__link:hover {
    color: #152427;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 22px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    z-index: 1;
}

.action__btn {
    margin-left: 69px;
}

/* Hero */
.hero {
    position: relative;
    padding: 60px 0 88px;
    font-family: "Public Sans";
}

.hero__body {
    display: flex;
}

/* Hero__content */
.hero__heading {
    margin-top: 43px;
    max-width: 368px;
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__row {
    display: flex;
    margin-top: 42px;
}

.hero__cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 43px;
}

.hero__cta:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hero__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: #83a17d;
}

.hero__curve {
    position: absolute;
    left: -7px;
}

.hero__link-play {
    margin-left: 15px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    transition: 0.25s;
}

.hero__link-play:hover {
    text-decoration: underline;
}

/* Hero__media */
.hero__media {
    position: relative;
    margin-left: 76px;
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

/* Hero__decorate*/
.hero__flower {
    top: 36px;
    left: 443px;
    z-index: 1;
}

.hero__path {
    top: 28px;
    left: 485px;
}

.hero__path-under--rotate-180,
.hero__flower-under--rotate-180 {
    transform: scale(-1, -1);
}

.hero__flower-under {
    bottom: 35px;
    right: 225px;
    z-index: 1;
}

.hero__path-under {
    bottom: 25px;
    right: 265px;
}

/* Logo */
.logo {
    margin: 42px 0 53px;
}

.logo__list {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
    background: var(--secondary-color);
    border-radius: 100.5px;
}

.logo__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.logo__link {
    color: var(--primary-color);
}

.logo__link:hover {
    text-decoration: underline;
}

.logo__item:nth-child(1) .logo__link {
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__item:nth-child(2) .logo__link {
    margin-left: 5px;
    font-size: 3.2rem;

    font-weight: 600;
}

.logo__item:nth-child(3) .logo__link {
    margin-left: 11px;
    font-size: 2.6rem;
}

.logo__item:nth-child(4) .logo__link {
    font-family: "Sonsie One", system-ui;
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__item:nth-child(5) .logo__link {
    margin-left: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    padding: 53px 0 77px;
}

.service__row {
    display: flex;
    align-items: center;
}

.service__heading {
    margin-top: 12px;
    max-width: 520px;
}

.service__controls {
    display: flex;
    column-gap: 17px;
    margin-left: 422px;
}

.service__control-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.service__control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.service__list {
    display: flex;
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.service-item__body {
    padding: 24px 0 24px 18px;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__title {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.service-item__title:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.service-item__img {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--text-color-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* About */
.about {
    padding-top: 77px;
}

.about__body {
    display: flex;
}

/* About__media */
.about__media {
    position: relative;
    margin-top: 13px;
}

.about__images {
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}

.about__image:first-child {
    margin-top: 77px;
}

/* About decoration */
.about__circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    filter: blur(137px);
    background: #83a17d;
}

.about__path {
    top: 15px;
    left: 90px;
}

.about__flower {
    transform: scaleY(-1);
    top: -32px;
    left: 46px;
    z-index: 1;
}

/* About card */
.about-card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    font-family: "Public Sans";
}

.about-card__title {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-card__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4; /* 140% */
}

.about-card__value {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-card__bar {
    margin-top: 3px;
    max-width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-card__bar--progress {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-card__loading {
    margin-top: 3px;
    text-align: right;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-card__inner-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about-card__outer-dot {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-card__row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5px;
}

.about-card__label {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-card__avatars {
    margin-left: 30px;
}

.about-card__avt {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -10px;
}

.about-card__avt:first-child {
    margin-left: 0;
}

/* About__content */
.about__content {
    margin-left: 64px;
}

.about__heading {
    margin-top: 20px;
    max-width: 483px;
}

.about__heading::after {
    display: none;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about__countdown {
    margin-top: 36px;
}

.about-row {
    position: relative;
    display: flex;
    align-items: center;
}

.about-row:last-child {
    margin-top: 58px;
}

.about-row::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #83a17d;
    bottom: -20px;
}

.about-row__number {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about-row__desc {
    margin-left: 24px;
    max-width: 364px;
    color: var(--text-color-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Process */
.process {
    padding: 79px 0;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    right: -5px;
}

.process__list {
    margin-top: 81px;
}

.process-row {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    padding: 57px 20px;
    transition: 0.25s;
    border-radius: 33px;
    background: #fff;
    width: 100%;
}

.process-row::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    transition: 0.25s;
}

.process-row:hover {
    transform: translateX(10px);
    background: var(--secondary-color);
}

.process-row:hover::after {
    opacity: 0;
}

.process-row__number {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process-row__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 64px;
}

.process-row__heading,
.process-row__title {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process-row__link {
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.process-row__link:hover {
    text-decoration: underline;
}

.process-row__img {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process-row__title {
    margin-left: 49px;
    width: 16%;
}

.process-row__desc {
    margin-left: 175px;
    width: 50%;
    color: var(--text-color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

/* Project */
.project {
    padding: 79px 0 70px;
    background: var(--primary-color);
}

.project__row {
    display: flex;
}

.project__heading {
    width: 44%;
    color: #e7f9f9;
    font-size: 4.2rem;
    line-height: 1.24; /* 123.81% */
}

.project__heading::after {
    right: 115px;
    bottom: 25px;
    background: #83a17d;
}

.project__right {
    margin-left: 93px;
    width: 52%;
}

.project__desc,
.project__link {
    margin-top: 11px;
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.project__browse {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.project__link {
    margin-top: 0;
    color: #fff;
}

.project__link:hover {
    text-decoration: underline;
}

.project__left-arrow {
    margin-left: 26px;
    color: #80a07b;
    cursor: pointer;
}

/* Video */
.project__video {
    position: relative;
    margin-top: 65px;
}

.project__img {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__btn-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.project__btn-video:hover {
    opacity: 0.8;
}

.project__play-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Features */
.features {
    padding: 70px 0 92px;
    margin-top: 70px;
}

.features__heading {
    margin: 0 auto;
    color: var(--primary-color-black);
    text-align: center;
    max-width: 520px;
}

.features__heading::after {
    display: none;
}

.features__desc {
    max-width: 547px;
    margin: 20px auto 0;
    color: var(--text-color-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
    text-align: center;
}

.features__list {
    display: flex;
    column-gap: 45px;
    margin-top: 103px;
}

.features-item {
    justify-items: center;
    width: 100%;
    padding: 60px 43px 74px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    background: #fff;
    transition: 0.3s;
}

.features-item:first-child {
    padding: 60px 33px 74px 33px;
}

.features-item:hover {
    border: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}

.features-item__icon {
    color: var(--primary-color);
}

.features-item__title {
    margin-top: 23px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.features-item__desc {
    margin-top: 12px;
    width: 264px;
    color: var(--text-color-gray);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.features-item:first-child .features-item__desc {
    width: 284px;
}

/* Blog */
.blog {
    padding: 92px 0 102px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.blog__heading {
    width: 46%;
}

.blog__heading::after {
    right: -25px;
}

.blog__desc {
    width: 36%;
    color: var(--text-color-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.blog__list {
    display: flex;
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item {
    flex: 1;
    width: 33.33%;
    transition: 0.5s;
    border-radius: 40px 40px 20px 20px;
    background: #fff;
    overflow: hidden;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__body {
    padding: 28px 35px 12px 30px;
    transition: 0.3s;
}

.blog-item__img {
    display: flex;
    width: 360px;
    height: 317px;
    object-fit: cover;
    transition: 0.3s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 26px 14px 12px 0;
    overflow: hidden;
}

.blog-item__btn {
    min-width: 107px;
    border-radius: 999px;
    line-height: 26px;
    font-family: Poppins;
    background-color: var(--secondary-color);
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.blog-item__btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.blog-item__title {
    margin-top: 13px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog-item__title::after {
    display: block;
    margin-top: 38px;
    content: "";
    height: 1px;
    width: 100%;
    background: #c4c4c4;
}

.blog-item:hover .blog-item__title::after {
    margin-top: 9px;
}

.blog-item:last-child:hover .blog-item__title::after {
    margin-top: 38px;
}

.blog-item:hover .blog-item__date {
    margin-top: 12px;
}

.blog-item__date {
    margin-top: 15px;
    text-align: right;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}

/* Footer */
.footer {
    padding: 72px 0 96px;
    background: var(--primary-color);
}

.footer::after {
    display: inline-block;
    content: "";
    margin-bottom: -50px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__body {
    display: flex;
    align-items: center;
}

.footer__left {
    width: 36.1%;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__email {
    flex: 1;
}

.footer-form {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.footer__email::after {
    display: inline-block;
    content: "";
    width: 354px;
    height: 1px;
    background: #6a8383;
    margin-top: 16px;
}

.footer-form__input {
    display: flex;
    align-items: center;
    width: 240px;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
}

.footer-form__input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-form__right-arrow {
    margin-left: 60px;
    color: #c4c4c4;
}

.footer__social {
    display: flex;
    margin-top: 47px;
    column-gap: 22px;
}

.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    color: #fff;
    transition: 0.25s;
}

.footer__social-btn:hover {
    background-color: #a75325;
}

.footer__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #fcfcfc;
    background: transparent;
}

.footer__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fcfcfc;
}

.footer__right {
    display: flex;
    column-gap: 50px;
    margin-left: 261px;
    font-family: "Public Sans";
}

.footer__title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.footer__link {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.3; /* 225% */
}

.footer__link:hover {
    text-decoration: underline;
}
